<form class="form-place" data-th-fragment="profile-form(action)" data-th-action="@{${action}}"
      method="post" data-th-object="${utilisateur}">

    <h2 data-th-if="${action == '/creercompte'}">Nouveau Profil</h2>

    <h3 data-th-unless="${action == '/creercompte'}">Vos informations :</h3>

    <div data-th-replace="~{:: inputField('Pseudo :', 'pseudo', ~{})}"></div>

    <div data-th-replace="~{:: inputField('Nom :', 'nom', ~{})}"></div>

    <div data-th-replace="~{:: inputField('Prénom :', 'prenom', ~{})}"></div>

    <div data-th-replace="~{:: inputField('Email :', 'email', 'email')}"></div>

    <div data-th-replace="~{:: inputField('Téléphone :', 'telephone', ~{})}"></div>

    <fieldset>
        <label>Adresse :</label>
        <div data-th-replace="~{:: inputField('Rue :', 'adresse.rue', ~{})}"></div>
        <div data-th-replace="~{:: inputField('Code Postal :', 'adresse.codePostal', ~{})}"></div>
        <div data-th-replace="~{:: inputField('Ville :', 'adresse.ville', ~{})}"></div>
    </fieldset>

    <div data-th-if="${editable && editField != null}">
        <input  type="hidden" name="field" data-th-value="${editField}"/>
        <button type="submit" name="action" value="modifier">Enregistrer</button>
        <button type="submit" name="action" value="annuler">Annuler</button>
    </div>

    <div data-th-if="${action == '/creercompte'}">
        <label for="motDePasse">Mot de passe (*):</label>
        <input type="password" id="motDePasse" data-th-field="*{motDePasse}" required><br><br>

        <label for="confirmMDP">Confirmation (*):</label>
        <input type="password" id="confirmMDP" name="confirmMDP" required><br><br>

        <button type="submit">Créer</button>
    </div>
</form>

<div data-th-fragment="inputField(label, field, type='text')">
    <!-- Label toujours présent-->
    <label data-th-for="${field}" data-th-text="${label}"></label>

    <!--    Section création de compte-->
    <div data-th-if="${action == '/creercompte'}">
        <!--data-th-field="*{__${field}__}" ne fonctionne pas si le fragment a plus de 1 attribut -->
        <!--<input data-th-type="${type}" data-th-id="${field}" data-th-field="*{__${field}__}" required><br><br>-->
        <div data-th-replace="~{:: creercompte(${field})}"></div>
    </div>

    <!--    Profil-->
    <div data-th-unless="${action == '/creercompte'}">
        <!--Profil non editable -->
        <span data-th-unless="${editable}" data-th-id="${field}" data-th-text="${utilisateur.__${field}__}"></span>

        <!--Profil editable -->
        <div data-th-if="${editable}">
            <span data-th-if="${editField != field}" data-th-id="${field}" data-th-text="${#authentication.getPrincipal().__${field}__}"></span>
            <input data-th-if="${editField == field}" data-th-type="${type}" data-th-id="${field}" data-th-name="${field}" data-th-value="${#authentication.getPrincipal().__${field}__}"/>
            <button data-th-if="${editField != field && action == '/profil'}" type="submit" data-th-name="editField" data-th-value="${field}">Modifier</button>
        </div>
    </div>

    <!-- Erreurs -->
    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error(${field})}"></div>
</div>

<div data-th-fragment="creercompte(field)">
    <input data-th-unless="${field == 'email'}" data-th-type="text" data-th-id="pseudo" data-th-field="*{__${field}__}" required>
    <input data-th-if="${field == 'email'}" data-th-type="email" data-th-id="pseudo" data-th-field="*{__${field}__}" required>
</div>