<ul xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-cards">
    <!-- Itération sur la liste des articles -->
    <li data-th-each="article : ${articles}">
        <div class="card">
        	<p data-th-text="${article.nom}"></p>
        	<p data-th-text="${article.prixVente}"></p>
            <p data-th-text="${article.dateFinEncheres}"></p>            
            <p><a data-th-href="@{/profil/__${article.vendeur.pseudo}__}" data-th-text="${article.vendeur.pseudo}"></a></p>
        </div>
    </li>
</ul>