<form id="form-creer" class="form-place" data-th-fragment="profile-form(action)" data-th-action="@{${action}}"
      method="post" data-th-object="${utilisateur}">

    <h3 data-th-unless="${action == '/creercompte'}" data-th-text="#{frag-profile.h3}"></h3>

    <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.pseudo}__', 'pseudo', ~{}, false)}"></div>
    <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.nom}__', 'nom', ~{}, false)}"></div>
    <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.prenom}__', 'prenom', ~{}, false)}"></div>
    <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.mail}__', 'email', 'email', false)}"></div>
    <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.tel}__', 'telephone', ~{}, false)}"></div>

    <fieldset>
        <label>Adresse :</label>
        <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.rue}__', 'adresse.rue', ~{}, true)}"></div>
        <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.code}__', 'adresse.codePostal', ~{}, true)}"></div>
        <div data-th-replace="~{:: inputField('__#{frag-profile-form.div.ville}__', 'adresse.ville', ~{}, true)}"></div>
        <button data-th-if="${editable && editField != 'adresse' && editField != 'pseudo' && editField != 'nom' && editField != 'prenom' && editField != 'email' && editField != 'telephone'}" type="submit" data-th-name="'editField'" data-th-value="'adresse'">Modifier Adresse</button>
    </fieldset>

    <div data-th-if="${editable && editField != null}">
        <input  type="hidden" name="field" data-th-value="${editField}"/>
        <button type="submit" name="action" value="modifier" data-th-text="#{frag-profile.button.en}"></button>
        <button type="submit" name="action" value="annuler" data-th-text="#{frag-profile.button.an}"></button>
    </div>

    <div data-th-if="${action == '/creercompte'}">
        <label for="motDePasse" data-th-text="#{frag-profile.label.mdp}"></label>
        <input type="password" id="motDePasse" data-th-field="*{motDePasse}" required><br><br>
        <div data-th-replace="~{fragments/errors/fragment-error :: frag-error('motDePasse')}"></div>

        <label for="confirmMDP" data-th-text="#{frag-profile.label.conf}"></label>
        <input type="password" id="confirmMDP" name="confirmMDP" required><br><br>
        
        <!-- balise <p> pour afficher le message d'erreur du script JS sur la validation de correspondance de motDePasse et confirmMDP -->
		<p id="js-erreur"></p><br>

        <button type="submit" data-th-text="#{frag-profile.button}"></button>
    </div>
</form>

<div data-th-fragment="inputField(label, field, type='text', isAddress)">
    <!-- Label toujours présent -->
    <label data-th-for="${field}" data-th-text="${label}"></label>

    <!-- Page création de compte -->
    <div data-th-if="${action == '/creercompte' && label != ''}">
        <div data-th-replace="~{:: creercompte(${field})}"></div>
    </div>

    <!-- Page de profil -->
    <div data-th-unless="${action == '/creercompte'}">
        <!-- Profil non editable -->
        <span data-th-if="${!editable}" data-th-id="${field}" data-th-text="${utilisateur.__${field}__}"></span>

        <!-- Profil editable -->
        <div data-th-if="${editable}">
            <!-- pas en train de modifier -->
            <div data-th-if="${editField != field && (!isAddress || editField != 'adresse')}">
                <span data-th-id="${field}" data-th-text="${#authentication.getPrincipal().__${field}__}"></span>
                <!-- Modifier button for non-address fields -->
                <button data-th-if="${action == '/profil' && !isAddress}" type="submit" data-th-name="editField" data-th-value="${field}">Modifier</button>
            </div>
            <!-- en train de modifier -->
            <input data-th-if="${editField == field || (isAddress && editField == 'adresse')}" data-th-type="${type}" data-th-id="${field}" data-th-name="${field}" data-th-value="${#authentication.getPrincipal().__${field}__}"/>
        </div>
    </div>

    <!-- Erreurs -->
    <div data-th-replace="~{fragments/errors/fragment-error :: frag-error(${field})}"></div>
</div>

<div data-th-fragment="creercompte(field)">
    <input data-th-unless="${field == 'email'}" data-th-type="text" data-th-id="${field}" data-th-field="*{__${field}__}" required>
    <input data-th-if="${field == 'email'}" data-th-type="email" data-th-id="${field}" data-th-field="*{__${field}__}" required>
</div>