<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
	<h1 id="nav-title">
		<a data-th-href="@{/accueil}"><img data-th-src="@{/images/logoENI.png}">Eni-Enchères</a>
	</h1>

	<nav>
		<ul>
			<!-- Tjrs affiché -->
			<li><a data-th-href="@{/accueil}">Accueil</a></li>
			<!-- SI PAS connecté  &&  SI PAS sur page de connexion -->
			<th:block>
				<li><a data-th-href="@{/connexion}">S'inscrire/Se connecter</a></li>
			</th:block>
			<!-- SI connecté -->
			<th:block >
				<li><a data-th-href="@{/vendre}">Vendre un article</a></li>
				<li><a data-th-href="@{/profil}">Mon profil</a></li>
				<li><a data-th-href="@{/}">Se déconnecter</a></li>
			</th:block>
		</ul>
	</nav>
	
</header>