.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 47, 255, 0.13);
	border-radius: 10px;
	margin: 2%;
	width: auto;
	max-width: fit-content;
	box-shadow: 0px 0px 5px 1px #c8c8c8;
}
select {
	width: 15vw;
	height: 40px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	margin-top: 1vh;
	font-size: 1rem;
	padding-left: 1rem;
}
.accueil-form {
	display: flex;
	margin: 1.5vw;
	border: none;
	margin-top: 2vh;
}
.btn {
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	position: relative;
}
.accueil-form legend {
	font-weight: bold;
    font-size: 1.5rem;
}
#nom-article {
	margin-top: 2vh;
	width: 25vw;
	height: 40px;
	border-radius: 10px;
	border: none;
	padding-left: 1rem;
}
#categorie {
	display: flex;
	justify-content: space-between;
	margin-top: 2vh;
}
#categorie label {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
}
#categorie select {
	border-radius: 10px;
	border: none;
	width: 17vw;
}
.accueil-form button {	
	width: 10vw;
	height: 40px;
	color: white;
	border-radius: 10px;
	border: none;
	margin-top: 2vh;
	cursor: pointer;
	font-size: 1.1rem;
}
.accueil-form button[type="submit"] {
	background-color: rgb(90, 119, 247);
}
.accueil-form button[type="submit"]:hover {
	background-color: rgb(51, 84, 228);
	transition: 0.2s ease 0s;
}
.accueil-form button[type="submit"]:active {
	background-color: rgb(90, 119, 247);
}
.accueil-form button[type="reset"] {
	background-color: #f5665a;
	margin-top: 3vh;
}
.accueil-form button[type="reset"]:hover {
	background-color: #f11f0e;
	transition: 0.2s ease 0s;
}
.accueil-form button[type="reset"]:active {
	background-color: #f5665a;
}
.radiobtn {
	display: flex;
	justify-content: space-around;
	margin-top: 5vh;
	margin-bottom: 3vh;
	font-size: 1rem;
}
.radiobtn label {
	font-size: 1.1rem;
}