@charset "UTF-8";
header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 50px;
	box-shadow: 0 2px 8px #777;
}

header h1 {
	display: flex;
	align-items: center;
	margin: 0;
}

header h1 img {
	margin-right: 20px;
}

header li {
	list-style: none;
	display: inline-block;
	padding: 0 20px;
}

header a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
	transition: all 0.3s ease 0s;
}

header a:hover {
	color: rgb(0, 128, 192);
}

main {
	margin-top: 15px;
	margin-left: 15px;
}

main h1 {
	margin: 10px;
}

.center-section {
	margin: auto;
	text-align: center;
}