<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-projet( titrePage=~{:: title},
																							  contenuPage=~{:: main},
																							  ressourcesSupp=~{})}">
<head>
	<title>Enchères ENI</title>	
</head>

<body>
	
	<main>
		<h2>Liste des enchères</h2>
		
		<!-- FORMULAIRE -->
		<form data-th-replace="~{fragments/fragment-accueil-form :: frag-accueil-form}"action="/rechercher" method="get">
		
		</form>
	</main>
</body>
</html>