<html xmlns:th="http://www.thymeleaf.org" data-th-replace="~{layouts/layout :: layout-projet( titrePage=~{:: title},
																							  contenuPage=~{:: main},
																							  ressourcesSupp=~{})}">
<head>
    <title>Connexion</title>
</head>
<body>
<main>
    <form data-th-action="@{/connexion}" method="POST">
        <div>
            <label for="identifiant">Identifiant :</label>
            <input type="text" id="identifiant" name="username" required>
        </div>
        <div>
            <label for="motDePasse">Mot de passe :</label>
            <input type="password" id="motDePasse" name="password" required>
        </div>
        <div>
            <button type="submit">Connexion</button>
        </div>
        <div>
            <a href="/forgot-password">Mot de passe oublié</a>
        </div>
        <div>
            <button type="button" onclick="window.location.href='/creercompte';">Créer un compte</button>
        </div>
    </form>
</main>
</body>