<html data-th-replace="~{layouts/layout :: layout-projet( titrePage=~{:: title},
                                                                                contenuPage=~{:: main},
																				ressourcesSupp=~{:: #ressources-css})}">

<head>
    <title>Profil</title>
    <th:block id="ressources-css">
    	<link rel="stylesheet" data-th-href="@{/css/site-error.css}">
    </th:block>
</head>
<main>
    <div data-th-if="${editField == null}">
        <div data-th-replace="~{fragments/fragment-profile-form :: profile-form(action='/profil')}"></div>
    </div>

    <div data-th-unless="${editField == null}">
        <div data-th-replace="~{fragments/fragment-profile-form :: profile-form(action='/profil/modifier')}"></div>
    </div>
</main>
</html>
